@model IEnumerable<projetoEmprestimo2.Models.modelLivro>

@{
    ViewBag.Title = "Biblioteca";
}

<div class="">
    <div class="row center">
        <div class="col-lg-9">
            <div class="row">
                @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4" style="margin: 2% 4%">
                    <div class="card h-100">
                        @if (item.ImagemLivro != null)
                        { <img class="card-img-right flex-auto d-none d-md-block" data-src="" alt="Thumbinail[300x300]" 
                               style="width: 200px;" src="@item.ImagemLivro" data-holder-rendered="true"/>}

                        else 
                        { <img class="card-img-right flex-auto d-none d-md-block" data-src="" alt="Thumbinail[300x300]"
                     style="width: 300px; height: 300px;" src="~/Imagens//image-not-found.jpg" data-holder-rendered="true"/>}

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@item.ImagemLivro" class="img-fluid">@item.NomeLivro</a>
                            </h4>
                        </div>

                        <div class="card-footer space-between-flex btn" style="width:100%">
                            <div>
                                @using (Html.BeginForm("AdicionarCarrinho", "Home", FormMethod.Post))
                                 {
                                    <input type="hidden" name="id" value=@item.CodLivro>
                                    <input type="hidden" name="quantidade" value=1>
                                    <button type="submit" class="btn btn-default btn-acao-primario">Adicionar</button>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>